<div class="jumbotron jumbotron-fluid">
	<div class="container text-center">
		<h1>All ROOMS</h1>
	</div>
</div>
<div class="conainer">
	<div class="row">
		<%= render partial: "shared/room", collection: @rooms %>
	</div>
</div>