<div class="jumbotron">
	<div class="container text-center">
		<h1><%= @room.name%> DETAILS</h1>
	</div>
</div>
<div class="row justify-content-center">	
	<div class="card mb-3 text-center col-md-7 col-sm-6 ">
		<img src="#" alt="room<%= @room.id %>">
		<div class="card-body">
			<div class="card-title"><%= @room.price%></div>
			<p class="card-text"><%= @room.text%></p>
		</div>
	</div>
</div>